<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteRule ^user/register/([0-9]+)?$ /user/register/index.php?user_id=$1 [L,QSA]
  RewriteRule ^user/get/([0-9]+)?$ /user/get/index.php?user_id=$1 [L,QSA]

  </IfModule>

 <Limit GET POST PUT DELETE>
  Order allow,deny
  Allow from all
 </Limit>